
/* General */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%,

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: gray;
}

/* GitHuB */
.github {
    background-color: cyan;
    padding:2rem;
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
    
}

/* Search */

/* Usercard*/

/* Data */

